
    background: #f7f7f7;

    azul-forte: #0520d6;


    cinza: #9ba1ac;


    azul-nenem: #b1d0fc;


    azul-royal: #315ae1;


    verde: #4f6754;

    azul-claro: #6992ec;


    verde-claro: #159740;
